* {
  box-sizing: border-box;
}

body{
  background-color: #0072b2;
  color: white;
}

.title{
  text-align: center;
}
.images{
  width: 100%;
}
/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  padding: 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width:600px){
     .column{
       width:100%;
     }
     .images{
       width: 80;
     }
 }